.card {
    background-color: #1b5e20;
    color: white;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.btn-primary {
    background-color: #ff9100;
    border: none;
    color: black;
    font-size: 12px;
}

.btn-primary:hover {
    background-color: #ca801e;
    color: black
}

.form-control {
    border: none;
}