@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.div-form form {
    border: 2px solid #43A047;
    border-radius: 15px;
    padding: 15px;
    margin-top: 20px;
}

.animais-container {
    width: 100%;
    display:flex;
}

.animais-content {
    width: 100%;
    margin-right: 4rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.table-container {
    left: 280px;
    right: 30px;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.animais-container .table-container {
    margin-left: auto;
    margin-right: auto;
}

.animais-container .teste {
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    width: 250px;
    background-color: blue;
}


/*******COPIAR PARA AS DEMAIS TELAS ESTA SESSÃO********/
input {
    border-radius: 15px;
}

.div-form {
    background-color: #43A047;
    border-radius: 15px;
    padding: 15px;
    margin-top: 15px;
}

.div-form form {
    display: flex;
    flex-direction: row;
}

.div-form input {
    background-color: #AEFFB2;
}

.div-form input:focus {
    background-color: #AEFFB2;
}

.div-form select {
    background-color: #AEFFB2;
}

.div-form select:focus {
    background-color: #AEFFB2;
}

.div-form option {
    background-color: #AEFFB2;
}

.div-form option:focus {
    background-color: #AEFFB2;
}

.div-form option:hover {
    background-color: #2dbd35;
}

.form-group {
    margin-bottom: 5px;
}

.form-group label {
    margin-bottom: 2px;
}

.form-control {
    border-color: #212121;
}

i {
    font-size: 18px;
    margin-right: 30px;
}

.form-row-buttons {
    display: flex;
    flex-direction: row-reverse;
}

.form-row-buttons button {
    margin: 5px;
    margin-top: 10px;
}