.container {
  width: 100%;
  display: flex;
}

.content {
  width: calc(100% - 250px);
  padding: 1rem;
}

.table {
  width: 100%;
}

.table table {
  width: 100%;
}

.actions {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add {
  background-color: #fb8c00;
  width: 270px;
  height: 60px;
  border: none;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1.1rem;
  transition: 0.2s;
  cursor: pointer;
}

.exclude {
  background-color: #ff7878;
  width: 270px;
  height: 60px;
  border: none;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1.1rem;
  transition: 0.2s;
  cursor: pointer;
}

.add:hover {
  filter: brightness(0.8);
}
.exclude:hover {
  filter: brightness(0.8);
}
