.home-content {
  max-width: 768px;
  text-align: center;
  border: 1px solid #444444;
  position: relative;
  margin: auto;
  width: 50%;
  border: 3px solid green;
}

.home-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #444444; 
    margin-bottom: 20px;
    background-color: aqua;
}