<<<<<<< HEAD


=======
>>>>>>> 8051be6 (modal, botao de cadastro)
.title {
  font-size: 2rem;
}

.container {
  width: 100%;
  display: flex;
  gap:0.8rem;
  margin:0.5rem 0;
}
.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  width:100%;
}

<<<<<<< HEAD
.inputContainer input, .inputContainer select { 
  background:#AEFFB2;
  height:35px;
  border:1px solid gray;
  border-radius: 4px;
  width:100%;
  margin: 0;
  padding: 0;
}



=======
.inputContainer input { 
  background:#AEFFB2;
  height:30px;
  border:1px solid gray;
  border-radius: 4px;
  width:100%;
}

>>>>>>> 8051be6 (modal, botao de cadastro)
.radioButtons {
  display: flex;
  gap:0.8rem;

}

.radioButtons > div {
  display:flex;
  align-items: center;
  justify-items:center
}


.buttons {

  display:flex;
  align-items: flex-end;
  justify-content: end;
  width: 100%;

  margin-top:2rem;

}

.buttons button + button {
  margin-left:0.5rem;
}

.cancel {
  height: 35px;

  border-radius: 8px;
  background: #b1b1b1;
  border: none;
  transition: 0.2s;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  width:120px;

}

.cancel:hover {
  filter: brightness(0.9);
}

.save  {
  width:120px;
  height: 35px;
  border-radius: 8px;
  background: #fb8c00;
  border: none;
  transition: 0.2s;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.save:hover {
  filter: brightness(0.9);
<<<<<<< HEAD
}

.inputError{
  font-size: 0.8rem;
  color: rgb(255, 85, 85);
  /* white-space: nowrap; */
=======
>>>>>>> 8051be6 (modal, botao de cadastro)
}