.table {
  text-align: center;
}

.table thead,
.table thead tr,
.table thead td {
  background: #43a047;
  padding: 1rem;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
}

.pagination {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.totalElements{
  text-align: right;
}

.edit{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 8051be6 (modal, botao de cadastro)
=======
>>>>>>> f06c0c5 (resolvido conflitos)
=======
>>>>>>> d08e915ac33273fdb32613fdefbb5af851354aa5
