.table {
  
text-align:center;



  
}


.table thead, .table thead tr, .table thead td {
  background:#43a047;
  padding:1rem;
  color:#fff;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
}

